/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

h1{
  margin: 0;
}

input[placeholder] {
  text-align: right;
}
/* Section Styles -------------------- */
header {
  background: black;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

footer {
  text-align: center;
  padding-bottom: 40px;

}
/* Pseudo-classes -------------------- */


/* Clearfix -------------------- */

.group:after {
  content: "";
  display: table;
  clear: both;
}


/* Containers / wraps -------------------- */



/* Form -------------------- */

form {
  max-width: 480px;
  background: #f4fafd;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  width: 90%;
  padding: 15px 40px;
  background-color: #2daec2;
  color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.sign_up {
  text-align: center;
  border-bottom: 4px solid black;
}

fieldset {
  border: none;
  border-top: 2px solid black;
  margin: 2px 0 0 0;

}
label {
  margin-bottom: 8px;
  display: block;
}
 
label.inline {
  display: inline;
  margin-left: 5px;
}

input {
  background: #e9eff3;
  padding: 10px 0;
  transition: background 1s;
}

input:focus {
  background: lightgreen;

}

input[type="text"],
input[type="email"],
input[type="tel"],
select, 
textarea {
  margin-bottom: 15px;
  width: 100%;
}


input[type="text"],
input[type="email"],
input[type="tel"] {
  background-image: url("img/heli.png");
  background-repeat: no-repeat;
  background-position: left;

}
#postal_zip {
  width: 40%;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;

}

/* Media Queries -------------------- */

@media (min-width: 768px ) {
    form {
      max-width: 700px;
    }

    .contact label{ 
      display: inline-block;
      width: 40%;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select, 
    textarea {
      margin-bottom: 15px;
      width: 60%;
}
    
    .col {
      float: left
    }
    
    

}