/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

h1{
  margin: 0;

}
/* Section Styles -------------------- */
header {
  background: black;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}




/* Pseudo-classes -------------------- */





/* Containers / wraps -------------------- */

.container {
  padding-left: 1em;
  padding-right: 1em;
}
.signup_text {
  text-align: center;
  border-bottom: 4px solid black;
  margin-bottom: 2px;
}

/* Form -------------------- */

form {
  border-top: 2px solid black;
} 
fieldset {
  border: none;
}

/* Media Queries -------------------- */

